<div class="container text-center">
  <h1>Stupid Coaching !</h1>

  <form action="/answer" method="get">
  <div class="form-group">
    <label for="question">Speak to your coach</label>
    <<input type="text" class="form-control" id="question" name="question" placeholder="what time is it?">
  </div>
    <button type="submit" class="btn btn-primary">Go on!</button>
  </form>

</div>
